body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	background: #282d35;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background: #21222a;
	align-items: center;
	height: 90px;
	padding: 0px 25px;
}

.navbarLogo {
	width: 30px;
	margin-right: 8px;
}

.navbarHeader {
	margin-right: auto;
	color: #61dafb;
	font-weight: 700;
	font-size: 22px;
}

.navbarTitle {
	color: #deebf8;
	font-weight: 600;
	font-size: 16px;
}

.main {
	padding: 57px 30px;
	color: white;
	/*To set background image in css instead of an <img />*/
	background-image: url('./images/reactjs-icon 2.png');
	background-repeat: no-repeat;
	background-position: right;
}

.mainHeader {
	margin: 0;
	font-weight: 700;
	margin-bottom: 46px;
	font-size: 39px;
	letter-spacing: -0.05em;
}

.mainText > li {
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 20px;
	/*To wrap the text*/
	max-width: 400px;
}

/*
CSS pseudo-element that selects the marker box of 
a list item
*/

.mainText > li::marker {
	color: #61dafb;
	font-size: 1.5rem;
}
